<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header> -->
    <div class="row" id="report" #report>
        <h1>Equipment Report</h1>
            <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-3">
                        <div class="card-header">
                            Equipments
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Equipment Name</th>
                                    <th>Type</th>
                                    <th>Condition</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let equipment of equipments; let i= index" >
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{equipment.name}}</td>
                                    <td>{{equipment.typeName}}</td>
                                    <td>{{equipment.condition}}</td>
                                    <td>  </td>
                                </tr>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
            </div>

            <div class="col col-xl-12 col-lg-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Allocation History
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Equipment Name</th>
                                <th>Type</th>
                                <th>Office</th>
                                <th>Office Manager</th>
                                <th>Collected By</th>
                                <th>allocation Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let allocation of allocations; let i= index" >
                                <th scope="row">{{i+1}}</th>
                                <td>{{allocation.equipmentId.name}}</td>
                                <td>{{allocation.equipmentId.typeName}}</td>
                                <td>{{allocation.officeId.name}}</td>
                                <td> {{allocation.officeId.manager}} </td>
                                <td> {{ allocation.collectedBy }} </td>
                                <td>{{allocation.allocation_time | date:"fullDate" }}</td>
                            </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
                
        </div>
    </div>

</div>

<button class="btn btn-primary" (click)="exportReport()" > Download Report</button>
