<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header> -->
    <div class="row">
        <h1>Equipment Allocation History</h1>
            <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-3">
                        <div class="card-header">
                            Equipment Allocation History
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Equipment Name</th>
                                    <th>Office Allocated To</th>
                                    <th>Allocation Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let allocation of allocations; let i= index" >
                                    <th scope="row">{{i+1}}</th>
                                     <td>{{allocation.equipmentId.name}}</td>
                                    <td>{{allocation.officeId.name}}</td> 
                                    <td>{{allocation.allocation_time | date:"fullDate" }}</td>
                                </tr>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
    </div>

</div>