<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header> -->
    <div class="row">
        <h1>Equipment Types</h1>
            <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-3">
                        <div class="card-header">
                            Equipment Types
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Equipment Name</th>
                                    <th>Type</th>
                                    <th>Condition</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let type of equipments; let i= index" >
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{type.name}}</td>
                                    <td>{{type.typeId.name}}</td>
                                    <td>{{type.condition}}</td>
                                </tr>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
    </div>

</div>