<div [@routerTransition]>
        <!-- <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header> -->
    
        <div class="row">
            <h1>Add New Equipment</h1>  
            <div class="col-lg-12">
                <form>
                    <fieldset class="form-group">
                        <label>Equipment Name</label>
                        <input class="form-control" name="name" #name placeholder="Equipment Name">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Equipment Type</label>
                        <select name="type" #type class="form-control" >
                            <option *ngFor="let type of equipmentTypes" value="{{type._id}}">{{type.typeName}}</option>
                            
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Condition</label>
                        <select name="condition" #condition class="form-control" >
                            <option value="good">Good</option>
                            <option value="bad">Bad</option>
                        </select>
                    </fieldset>
                    <a class="btn btn-secondary" (click)="addEquipment(name.value,condition.value,type.value)" >Add Equipment</a>
    
                </form>
    
            </div>
        </div>
        <!-- /.row -->
    </div>
    