<div [@routerTransition]>
        <!-- <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header> -->
    
        <div class="row">
            <h1>Add New Office</h1>  
            <div class="col-lg-12">
                <form>
                    <fieldset class="form-group">
                        <label>Office Name</label>
                        <input class="form-control" name="name" #name placeholder="Office Name">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Equipment Type</label>
                        <select name="type" #manager class="form-control" >
                            <option *ngFor="let manager of managers" value="{{manager._id}}">{{manager.firstname}} {{manager.firstname}}</option>
                            
                        </select>
                    </fieldset>
                    
                    <a class="btn btn-secondary" (click)="addOffice(name.value,manager.value)" >Add Equipment</a>
    
                </form>
    
            </div>
        </div>
        <!-- /.row -->
    </div>
    